body{
    background:url(medical.jpg);
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }