body{
  background-image: url(img.jpg);
  opacity: 15;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5px;
  padding: 3px;
}
.para{
  font-style: italic;
  font-size: 37px;
}
header {
position: relative;
margin: auto;
padding: inherit;
font-weight: bold;
font-style: normal;
}
.list li {
font-style: oblique;
}
.policy p{
font-size: 15px;
font-style: italic;
}
