body {
    background: rgb(217, 249, 244);
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
.first{
    
    text-align: center;
}

.column {
    float: left;
    width: 24%;
    padding: 2px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
